.Dashboard {
	flex: 1 0;
	display: flex;
	flex-direction: column;

	padding: 5% 5% 0 5%;
}

.Header {
	padding-bottom: 2%;
	font-size: 1.2vw;
	h1 {
		margin-top: 0;
		font-size: 3vw;
		font-weight: 500;

		.name {
			color: $red;
		}
	}
	p {
		font-size: 1.4vw;
	}
}

.legend_text {
	font-size: 1.2vw;
	font-weight: 400;
}

.dashboard_graphs {
	display: grid;
	width: auto;
	height: 100%;
	grid-template-columns: repeat((4, 25%));
	grid-template-rows: repeat((4, 23%));
	gap: 3% 3%;
	margin-bottom: 10%;
	margin-right: 10%;
	&>div {
		border-radius: 5px;
		font-weight: 500;
		font-size: 1vw;
	}
}

.Weight {
	// position: relative;
	width: 100%;
	grid-column: 1/4;
	grid-row: 1/3;
	background-color: $light_grey;
}

.Duration {
	width: 100%;
	overflow: hidden;
	grid-column: 1/2;
	grid-row: 3/5;
	background-color: $red;
}

.Radar {
	width: 100%;
	grid-column: 2/3;
	grid-row: 3/5;
	background-color: $dark_grey;
}

.Score {
	width: 100%;
	grid-column: 3/4;
	grid-row: 3/5;
	background-color: $light_grey;

	.recharts-sector {
		stroke-linejoin: round;
		stroke-width: 7px;
	}

	.recharts-surface>text {
		font-size: 1vw;
	}
}

.Counter {
	// width: 100%;
	grid-column: 4/4;
	display: flex;
	align-items: center;
	padding: 10%;

	.counter_icon_cell {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35%;
		height: 0;
		padding-bottom: 35%;
		margin-right: 10px;
		border-radius: 5px;
		& > div {
			text-align: center;
			width: 100%;
			height: 100%;
		}
		.counter_icon {
			width: 30%;
			padding: 33%;
		}

	}
	.counter_text {
		display: block;
		// vertical-align: middle;
		h3 {
			margin: 0;
			padding: 0;
			font-size: 1.4vw;
			color: $dark_grey;
		}
		p {
			margin: 0;
			padding: 0;
			font-size: 1vw;
			color: $grey;
		}
	}

	background-color: $light_grey;
}

.Counter-1 {
	grid-row: 1/2;
}

.Counter-2 {
	grid-row: 2/3;
}

.Counter-3 {
	grid-row: 3/4;
}

.Counter-4 {
	grid-row: 4/5;
}

.recharts-legend-item {
	margin-bottom: 20px;

	&>.recharts-legend-item-text {
		color: black;
	}
}