// colors
$red: #ff0000;
$blue: #4ab8ff;
$yellow: #fdcc0c;
$pink: #fd5181;
$dark_red: #da0000;
$light_grey: #f4f4f4;
$grey: #979797;
$dark_grey: #282d30;

.grey {
	color: $grey;
}

.dark_grey {
	color: $dark_grey;
}

// btns actions
@mixin btn_over() {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.3s;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
@mixin btn_text_over() {
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.3s;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
